#--------------------------#
# Magento Default Files    #
#--------------------------#

!/app
/app/*
!/app/code
/auth.json.sample
/bin
/CHANGELOG.md
/composer.json
/composer.lock
/CONTRIBUTING.md
/COPYING.txt
/dev
/generated
/grunt-config.json.sample
/Gruntfile.js.sample
/index.php
/ISSUE_TEMPLATE.md
/lib
/LICENSE
/LICENSE_AFL.txt
/LICENSE.txt
/nginx.conf.sample
/package.json.sample
/php.ini.sample
/phpserver
/pub
/PULL_REQUEST_TEMPLATE.md
/README.md
/setup
/update
/var
/vendor
.htaccess
.htaccess.sample
.idea/
.php_cs.dist
.travis.yml
.user.ini
